<div class="customer-navigation image row inline row-sm">

	<div class="flex-grid-thirds margin-top">
		<a href="#smile-points-products" class="s1 med_s12 lg_s13 c-nav button">
		  <p>Redeem Bubbles</p>
		</a>

		<a href="/account/addresses" class="s1 med_s12 lg_s13 c-nav button">
		  <p>Account Details</p>
		</a>

		<a href="/tools/checkout/api/manage/subscription/app" class="s1 med_s12 lg_s13 c-nav button no-margin-right">
		  <p>Manage Subscriptions</p>
		</a>
	</div>
  <br><br><br>
	{% comment %} POINTS INTO PRODUCTS {% endcomment %}
   <h2 class="size--xlarge text-bold" style="text-align:center;">Turn points into products</h2>
    <div class="flex-grid-thirds margin-top">
     <a href="#smile-points-products" class="s1 med_s12 lg_s13">
     <img src="https://cdn.shopify.com/s/files/1/0031/2967/1749/files/tote.png?v=1664216242" alt="woman carrying tote bag that says Good, Clean Fun" > 
     <br><br>
     <h3 style="text-align:center;">Good, Clean Tote Bag</h3>
      <p style="text-align:center;">1200 Bubbles</p>
     </a>
      
      <a href="#smile-points-products" class="s1 med_s12 lg_s13">
        <img src="https://cdn.shopify.com/s/files/1/0031/2967/1749/files/sunstick.png?v=1664217350" alt="sunstick being applied on a baby" > 
        <br><br>
        <h3 style="text-align:center;">Sunstick</h3>
        <p style="text-align:center;">1300 Bubbles</p>
      </a>
      
      <a href="#smile-points-products" class="s1 med_s12 lg_s13">
        <img src="https://cdn.shopify.com/s/files/1/0031/2967/1749/files/tshirt.png?v=1664217367" alt="baby wearing bucket hat with caption: Baby tee to come soon"> 
       <br><br>
        <h3 style="text-align:center;"">Baby Tee</h3>
       <p style="text-align:center;">1000 Bubbles</p>
      </a>
    </div>
    {% comment %} POINTS INTO PRODUCTS {% endcomment %}
	<div class="text-black text-center extra-padding-top">
		<p class="semi-bold text-large">Questions?</p>
		<p class="text-large">Check out our <a href="/pages/faq">FAQs</a> or contact us at <a href="/pages/contact-us">info@tubbytodd.com</a></p>
	</div>	
</div>