{% if collection.metafields.custom_fields["featured_video_banner"] != blank %}
  <div class="custom-field custom-field__featured-video-banner custom-field__type--text">
    <h3 class="custom-field--title">Featured Video Banner</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["featured_video_banner"] }}
    </div>
  </div>
{% endif %}