{% if collection.metafields.custom_fields["featured_footer_banner_text"] != blank %}
  <div class="custom-field custom-field__featured-footer-banner-text custom-field__type--html">
    <h3 class="custom-field--title">Featured Footer Banner Text</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["featured_footer_banner_text"] }}
    </div>
  </div>
{% endif %}