{% if product.metafields.custom_fields["featured_footer_banner_alt"] != blank %}
  <div class="custom-field custom-field__featured-footer-banner-alt custom-field__type--text">
    <h3 class="custom-field--title">Featured Footer Image Banner Alt Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_footer_banner_alt"] }}
    </div>
  </div>
{% endif %}