{% if product.metafields.custom_fields["whats_included_text"] != blank %}
  <div class="custom-field custom-field__whats-included-text custom-field__type--html">
    <h3 class="custom-field--title">What's Included Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["whats_included_text"] }}
    </div>
  </div>
{% endif %}