{% if product.metafields.custom_fields["featured_footer_banner_link"] != blank %}
  <div class="custom-field custom-field__featured-footer-banner-link custom-field__type--url">
    <h3 class="custom-field--title">Featured Footer Image Banner Link</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_footer_banner_link"] }}
    </div>
  </div>
{% endif %}