{% if collection.metafields.custom_fields["featured_image_banner_mobile"] != blank %}
  <div class="custom-field custom-field__featured-image-banner-mobile custom-field__type--image">
    <h3 class="custom-field--title">Featured Image Banner Mobile</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: collection.metafields.custom_fields["featured_image_banner_mobile"], print: 'url' %}
    </div>
  </div>
{% endif %}