{% if product.metafields.custom_fields["featured_content_2_image_hover"] != blank %}
  <div class="custom-field custom-field__featured-content-2-image-hover custom-field__type--image">
    <h3 class="custom-field--title">Featured Content 2 Hover Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["featured_content_2_image_hover"], print: 'url' %}
    </div>
  </div>
{% endif %}