{% if collection.metafields.custom_fields["featured_content_bg_color"] != blank %}
  <div class="custom-field custom-field__featured-content-bg-color custom-field__type--text">
    <h3 class="custom-field--title">Featured Content Background Color</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["featured_content_bg_color"] }}
    </div>
  </div>
{% endif %}