{% if collection.metafields.custom_fields["password"] != blank %}
  <div class="custom-field custom-field__password custom-field__type--text">
    <h3 class="custom-field--title">Privacy Password</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["password"] }}
    </div>
  </div>
{% endif %}