{% if page.metafields.custom_fields["embe"] != blank %}
  <div class="custom-field custom-field__embe custom-field__type--embed">
    <h3 class="custom-field--title">embe</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["embe"] }}
    </div>
  </div>
{% endif %}