{% if collection.metafields.custom_fields["featured_footer_banner"] != blank %}
  <div class="custom-field custom-field__featured-footer-banner custom-field__type--image">
    <h3 class="custom-field--title">Featured Footer Banner</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: collection.metafields.custom_fields["featured_footer_banner"], print: 'url' %}
    </div>
  </div>
{% endif %}