<section class="page-title text-center container-wrap">
	<div class="container">
		<div class="row row-sm">
			<div class="text-center extra-padding">
				<a href="/account">{{ "Tubby-Todd-Customer-Account.png" | file_url | img_tag: 'Welcome to Club Tub', 'account-img' }}</a>
			</div>
    </div>
  </div>
</section>
