{% if product.metafields.custom_fields["featured_video"] != blank %}
  <div class="custom-field custom-field__featured-video custom-field__type--embed">
    <h3 class="custom-field--title">Featured Video</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_video"] }}
    </div>
  </div>
{% endif %}