{% if collection.metafields.custom_fields["featured_content_text_color"] != blank %}
  <div class="custom-field custom-field__featured-content-text-color custom-field__type--text">
    <h3 class="custom-field--title">Featured Content Text Color</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["featured_content_text_color"] }}
    </div>
  </div>
{% endif %}