<section class="text-center container-wrap extra-margin-top footer-image">
	<div class="container">
		<div class="row row-sm">
			<div class="text-center extra-padding">
				<a href="/account">{{ "andrea-club-tub-couch.jpg" | file_url | img_tag: 'Andrea on couch saying Go Mama', 'account-img contain-width-90' }}</a>
			</div>
    </div>
  </div>
</section>