{% if product.metafields.custom_fields["uses"] != blank %}
  <div class="custom-field custom-field__uses custom-field__type--text">
    <h3 class="custom-field--title">Uses</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["uses"] }}
    </div>
  </div>
{% endif %}