{% if collection.metafields.custom_fields["add_image"] != blank %}
  <div class="custom-field custom-field__add-image custom-field__type--image">
    <h3 class="custom-field--title">Add image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: collection.metafields.custom_fields["add_image"] %}
    </div>
  </div>
{% endif %}