{% if product.metafields.custom_fields["featured_footer_banner_mobile"] != blank %}
  <div class="custom-field custom-field__featured-footer-banner-mobile custom-field__type--image">
    <h3 class="custom-field--title">Featured Footer Image Banner Mobile</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["featured_footer_banner_mobile"], print: 'url' %}
    </div>
  </div>
{% endif %}