{% if product.metafields.custom_fields["featured_footer_image_banner"] != blank %}
  <div class="custom-field custom-field__featured-footer-image-banner custom-field__type--image">
    <h3 class="custom-field--title">Featured Footer Image Banner</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["featured_footer_image_banner"], print: 'url' %}
    </div>
  </div>
{% endif %}