{% if collection.metafields.custom_fields["featured_product_above"] != blank %}
  <div class="custom-field custom-field__featured-product-above custom-field__type--checkbox">
    <h3 class="custom-field--title">Show Featured Product above product grid? </h3>
    <div class="custom-field--value">
      {% if collection.metafields.custom_fields["featured_product_above"] == 1 %}
        TRUE
      {% else %}
        FALSE
      {% endif %}
    </div>
  </div>
{% endif %}