{% if collection.metafields.custom_fields["title_background_color"] != blank %}
  <div class="custom-field custom-field__title-background-color custom-field__type--text">
    <h3 class="custom-field--title">Title Background Color</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["title_background_color"] }}
    </div>
  </div>
{% endif %}