{% if collection.metafields.custom_fields["featured_content_title"] != blank %}
  <div class="custom-field custom-field__featured-content-title custom-field__type--text">
    <h3 class="custom-field--title">Featured Content Title</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["featured_content_title"] }}
    </div>
  </div>
{% endif %}