{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tubby-todd-bath-co.myshopify.com/pages/configure/236233/edit
{% endcomment %}
{% if page.metafields.custom_fields["featured_content_video_2"] != blank %}
  <div class="custom-field custom-field__featured-content-video-2 custom-field__type--embed">
    <h3 class="custom-field--title">Featured Content Video 2</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["featured_content_video_2"] }}
    </div>
  </div>
{% endif %}