{% if collection.metafields.custom_fields["privacy_description"] != blank %}
  <div class="custom-field custom-field__privacy-description custom-field__type--text">
    <h3 class="custom-field--title">Privacy Description</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["privacy_description"] }}
    </div>
  </div>
{% endif %}