{% if collection.metafields.custom_fields["sku_restrictions"] != blank %}
  <div class="custom-field custom-field__sku-restrictions custom-field__type--text">
    <h3 class="custom-field--title">SKU Restrictions</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["sku_restrictions"] }}
    </div>
  </div>
{% endif %}