{% if product.metafields.custom_fields["featured_content_color"] != blank %}
  <div class="custom-field custom-field__featured-content-color custom-field__type--text">
    <h3 class="custom-field--title">Featured Content Color</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_content_color"] }}
    </div>
  </div>
{% endif %}