{% if collection.metafields.custom_fields["featured_content_image"] != blank %}
  <div class="custom-field custom-field__featured-content-image custom-field__type--image">
    <h3 class="custom-field--title">Featured Content Image</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: collection.metafields.custom_fields["featured_content_image"], print: 'url' %}
    </div>
  </div>
{% endif %}