{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/tubby-todd-bath-co.myshopify.com/pages/configure/236209/edit
{% endcomment %}
{% if page.metafields.custom_fields["featured_image_banner"] != blank %}
  <div class="custom-field custom-field__featured-image-banner custom-field__type--image">
    <h3 class="custom-field--title">Featured Image Banner</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: page.metafields.custom_fields["featured_image_banner"], print: 'url' %}
    </div>
  </div>
{% endif %}