{% if product.metafields.custom_fields["whats_included_bg_color"] != blank %}
  <div class="custom-field custom-field__whats-included-bg-color custom-field__type--text">
    <h3 class="custom-field--title">What's Included Background Color</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["whats_included_bg_color"] }}
    </div>
  </div>
{% endif %}