{% if product.metafields.custom_fields["featured_content_1_text"] != blank %}
  <div class="custom-field custom-field__featured-content-1-text custom-field__type--html">
    <h3 class="custom-field--title">Featured Content 1 Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_content_1_text"] }}
    </div>
  </div>
{% endif %}