{% if product.metafields.custom_fields["featured_review_2"] != blank %}
  <div class="custom-field custom-field__featured-review-2 custom-field__type--html">
    <h3 class="custom-field--title">Featured Review 2</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_review_2"] }}
    </div>
  </div>
{% endif %}