{% if product.metafields.custom_fields["featured_content_2_title"] != blank %}
  <div class="custom-field custom-field__featured-content-2-title custom-field__type--text">
    <h3 class="custom-field--title">Featured Content 2 Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_content_2_title"] }}
    </div>
  </div>
{% endif %}