<div class="page-title extra-padding-top extra-margin-bottom">     
	<div class="container contain-width-80">
		<div class="row row-lg padding-top text-center">    
			{% if section.settings.title != '' %}
	  		<h2 class="size--xlarge text-bold" class="page-title__heading size--small" style="color: {{ section.settings.color }};">{{ section.settings.title }}</h2>
			{% endif %}
		</div>
	</div>
</div>	