{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.main_title_color' %}
  {% include 'custom_fields.pages.featured_content_text_color' %}
  {% include 'custom_fields.pages.featured_content_bg_color' %}
  {% include 'custom_fields.pages.featured_text_bar_body' %}
  {% include 'custom_fields.pages.featured_content_image_2' %}
  {% include 'custom_fields.pages.featured_content_2_outro' %}
  {% include 'custom_fields.pages.feature_landing_page_text' %}
  {% include 'custom_fields.pages.private' %}
  {% include 'custom_fields.pages.password' %}
</div>