{% include 'tubby-cares-commitment-heading' %}

<div class="container contain-width-80">
	<div class="row row-lg text-center">
		{% if section.settings.product_cert != blank %}
			<img src="{{ section.settings.product_cert | img_url: '300x' }}" alt="{% if section.settings.product_cert.alt != '' %}{{ section.settings.product_cert.alt | escape }}{% else %}Tubby Todd Bath Co.{% endif %}" style="max-width: 150px;" class="mini-margin-top mini-margin-bottom">
		{% endif %}
		{% if section.settings.intro != '' %}
			<div class="text-extra-large margin-top margin-bottom">
				{{ section.settings.intro }}
			</div>	
		{% endif %}
		{% if section.settings.highlighted_text != '' %}
			<div class="text-extra-large bold padding-top">
				{{ section.settings.highlighted_text }}
			</div>	
		{% endif %}
	</div>
</div>	
<style>
	.commitment-1 {
		margin-top: 50px;
		padding-bottom: 40px;
	}
</style>		
	

{% schema %}
{
  "name": "Commitment 1",
	"class": "commitment-1",
  "settings": [
		{
	    "type": "image_picker",
	    "id": "icon",
	    "label": "Heading icon"
	  },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
			"info": "Displays above heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
		{
	    "type": "image_picker",
	    "id": "divider",
	    "label": "Divider image"
	  },
		{
	    "type": "image_picker",
	    "id": "product_cert",
	    "label": "Product certifications image"
	  },
    {
      "type": "textarea",
      "id": "intro",
      "label": "Intro text"
    },
    {
      "type": "textarea",
      "id": "highlighted_text",
      "label": "Highlighted text",
			"info": "Displays large and bold"
    },
		{
		   "type": "header",
		   "content": "Text and Image"
		},
		{
    	"type": "text",
    	"id": "half_title",
    	"label": "Title"
   	},
		{
		   "type": "richtext",
		   "id": "half_text",
		   "label": "Text"
		},
		{
	    "type": "image_picker",
	    "id": "half_image",
	    "label": "Image"
	  },
		{
		   "type": "header",
		   "content": "Colors"
		},
		{
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
		{
      "type": "color",
      "id": "color",
      "label": "Heading color",
      "default": "#000000"
    }
  ]
}
{% endschema %}